<!doctype html>
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<title>Whitehack API</title>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="text-xl font-weight-normal">Whitehack API</h1>
        <p class="lead">
            Whitehack is a project to create a <strong>free</strong> and <strong>open</strong> API for the critically acclaimed RPG <strong>Whitehack</strong>.
        </p>
        <p class="lead">
            The API is currently in development and will be available soon.
        </p>
        <p class="lead">
            If you want to help, you can email <a href="mailto:example@gmail.com">example@gmail.com</a>
    </div>
</body>

